
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card>img, .modal-body>img {
    width: 150px;
    object-fit: cover;
}
.card>h6{
    font-size: 13px;
}
.card>p{
    font-size: 11px;
}
.width{
    width: calc(100vw - 200px);
    height: calc(100vh - 100px);
}
.m_auto{
    margin: 0;
}
